.createroom-container {
    background: url('/public/images/whiteboardcanvas.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-shadow:0 0 5px #fff;
  }