*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.sof
*.bak
*.o
*.d

testWifiTouch/db/
testWifiTouch/incremental_db/
testWifiTouch/simulation/
testWifiTouch/output_files/
testWifiTouch/software/.metadata

wifi/credentials.lua
wifi/test/node_modules