*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.sof
*.bak
*.o
*.d

testWifiTouch/db/
testWifiTouch/incremental_db/
testWifiTouch/simulation/
testWifiTouch/output_files/
testWifiTouch/software/.metadata

wifi/credentials.lua
wifi/test/node_modules

testHPS/db/
testHPS/incremental_db/
testHPS/simulation/
testHPS/output_files/

DE1_SOC_D8M_RTL_nios_pix_xfer/DE1_SOC_D8M_RTL/db/
DE1_SOC_D8M_RTL_nios_pix_xfer/DE1_SOC_D8M_RTL/incremental_db/
DE1_SOC_D8M_RTL_nios_pix_xfer/DE1_SOC_D8M_RTL/simulation/
DE1_SOC_D8M_RTL_nios_pix_xfer/DE1_SOC_D8M_RTL/output_files/
DE1_SOC_D8M_RTL_nios_pix_xfer/DE1_SOC_D8M_RTL/software/.metadata
DE1_SOC_D8M_RTL_nios_pix_xfer/DE1_SOC_D8M_RTL/camera_eclipse/.metadata